body {
  -webkit-font-smoothing: antialiased;
  text-align: center;
  padding: 50px;
}

a {
  text-decoration: none;
  color: #17A9F8;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 1px;
}

a:hover {
  color: #59B776; /* Green */
}

a:visited {
  color: #E8519C; /* Pink */
}

a:active {
  color: #FC452B; /* Orange */
}
